* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Font style */

.merriweather-font-style {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.inter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Share style */

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.font-size-1 {
  font-size: 18px;
}

.font-size-2 {
  font-size: 20px;
}

.font-size-3 {
  font-size: 24px;
}

.font-size-4 {
  font-size: 32px;
}

.font-size-5 {
  font-size: 48px;
}

.font-size-6 {
  font-size: 72px;
}

.font-size-7 {
  font-size: 88px;
}

.font-weight-1 {
  font-weight: 400;
}

.font-weight-2 {
  font-weight: bold;
}

.font-weight-3 {
  font-weight: 900;
}

.font-weight-4 {
  font-weight: 600;
}

.font-weight-5 {
  font-weight: 500;
}

/* Bode style */

body {
  padding-top: 50px;
}

/* Header style */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Banner\ Image.png');
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h3 {
  margin-bottom: 16px;
}

