* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Font style */

.merriweather-font-style {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.inter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Share style */

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.font-size-1 {
  font-size: 18px;
}

.font-size-2 {
  font-size: 20px;
}

.font-size-3 {
  font-size: 24px;
}

.font-size-4 {
  font-size: 32px;
}

.font-size-5 {
  font-size: 48px;
}

.font-size-6 {
  font-size: 72px;
}

.font-size-7 {
  font-size: 88px;
}

.font-size-8 {
  font-size: 64px;
}

.font-weight-1 {
  font-weight: 400;
}

.font-weight-2 {
  font-weight: bold;
}

.font-weight-3 {
  font-weight: 900;
}

.font-weight-4 {
  font-weight: 600;
}

.font-weight-5 {
  font-weight: 500;
}

.text-color-1 {
  color: rgb(255, 0, 0);
}

.text-color-2 {
  color: rgba(7, 2, 17, 0.6);
}

/* Bode style */

body {
  padding-top: 50px;
}

/* Header style */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Banner\ Image.png');
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h3 {
  margin-bottom: 16px;
}

/* Offer section style */

.offer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.offer-section h1 {
  color: rgb(255, 0, 0);
  margin-bottom: 48px;
}

.offer-section p {
  color: rgb(255, 0, 0);
  margin-bottom: 16px;
}

.offer-section img {
  max-width: 802.9px;
  height: auto;
  margin-top: 48px;
}

/* Welcome to midnight party section style */

.welcome-party-section {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Vectorrr.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  height: 602px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 95px;
  justify-content: center;
  padding: 0 80px;
  box-sizing: border-box;
}

.welcome-title {
  color: white;
}

.welcome-description {
  color: white;
  margin-top: 24px;
}

.welcome-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 48px;
  margin-left: 32px;
}

/* Event time section style */

.joining-time-section {
  margin-top: 118px;
  border-radius: 16px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.1), white);
  height: 482px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 56px;
}

.event-time-btn {
  padding: 16px 32px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 8px;
  margin-top: 48px;
}

/* Best offer style */

.best-offer-section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best-offer-first-title {
  margin-bottom: 16px;
}

.best-offer-second-title {
  margin-bottom: 22px;
}

.happy-img {
  border: 15px solid red;
  border-radius: 50%;
  padding: 50px;
}

.best-offer-second-cloum-title {
  margin-bottom: 16px;
}

.best-offer-second-description {
  margin-bottom: 43px;
}